<main id="all">
    <div class="center">
        <h3>{{game.name}}</h3>
        <img class="center" src="/portfolio/expressjs/game-rental/img/{{game.img}}">
        <article>
            <h4>Description:</h4>
            <p>{{game.desc}}</p>
        </article>
        {{#if game.availability}}
        <form method="POST" action="/portfolio/expressjs/game-rental/rent">
            <label>How many days to rent?</label><br />
            <input type="text" name="rentPeriod" placeholder="Minimum {{game.minPeriod}} days"
                value="{{game.minPeriod}}" class="form-control">
            <button class="form-control left-button" name="pid" value="{{game.pid}}">Rent</button>
        </form>
        {{else}}
        <div class="rented">Rented by you</div>
        {{/if}}
    </div>
</main>