<div class="video-elem col-6">
    <div class="container"><a href="/portfolio/expressjs/youtube-display/video/{{this.videoId}}"><img src="{{this.image}}" class="image"></a>
        <div class="desc">
            <div class="title">{{this.title}}</div>
            <div class="channel">{{this.channel}}</div>
            <div class="date">on {{this.uploadDate}}</div>
            <div class="view-details"><a href="/portfolio/expressjs/youtube-display/video/{{this.videoId}}">[View Details]</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="middle">
            <a class="text" href="/portfolio/expressjs/youtube-display/video/{{this.videoId}}">Details</a>
        </div>
    </div>
</div>